[submodule "vim/pack/common/start/vim-gitgutter"]
	path = vim/pack/common/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/common/start/vim-gfm-syntax"]
	path = vim/pack/common/start/vim-gfm-syntax
	url = https://github.com/rhysd/vim-gfm-syntax.git
[submodule "vim/pack/common/start/tabular"]
	path = vim/pack/common/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/common/start/vim-gnupg"]
	path = vim/pack/common/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "vim/pack/common/start/vim-fugitive"]
	path = vim/pack/common/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/common/start/previm"]
	path = vim/pack/common/start/previm
	url = https://github.com/previm/previm.git
[submodule "vim/pack/common/start/vim-polyglot"]
	path = vim/pack/common/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/common/start/vim-table-mode"]
	path = vim/pack/common/start/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
