[submodule "nvim/pack/common/start/plenary.nvim"]
	path = nvim/pack/common/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/pack/common/start/nvim-cmp"]
	path = nvim/pack/common/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "nvim/pack/common/start/telescope.nvim"]
	path = nvim/pack/common/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/pack/common/start/nvim-treesitter"]
	path = nvim/pack/common/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/pack/common/start/oil.nvim"]
	path = nvim/pack/common/start/oil.nvim
	url = https://github.com/stevearc/oil.nvim
[submodule "nvim/pack/common/start/mini.nvim"]
	path = nvim/pack/common/start/mini.nvim
	url = https://github.com/echasnovski/mini.nvim
[submodule "nvim/pack/common/start/nvim-lspconfig"]
	path = nvim/pack/common/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/pack/common/start/copilot.vim"]
	path = nvim/pack/common/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "nvim/pack/common/start/CopilotChat.nvim"]
	path = nvim/pack/common/start/CopilotChat.nvim
	url = https://github.com/CopilotC-Nvim/CopilotChat.nvim
[submodule "nvim/pack/common/start/tabular"]
	path = nvim/pack/common/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "nvim/pack/common/start/vim-gitgutter"]
	path = nvim/pack/common/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "nvim/pack/common/start/vim-fugitive"]
	path = nvim/pack/common/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/pack/common/start/vim-gnupg"]
	path = nvim/pack/common/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
